<%= form_for(@timetable) do |f| %>
  <%= error_messages_for(@timetable) %>

	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
	<div class="field">
		<% unless @grids.blank? %>
    	<%= f.label :grid %>
			<%= f.collection_select(:grid_id, @grids, :id, :name_with_course) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "grid", :creating_resourse => "timetable"), :controller => "grids", :action => "new" %>
		<% end %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>