<%= form_for([@timetable, @timetable.schedules.build]) do |f| %>
  <div class="field">
    <%= f.label :matter %><br />
		<% if @timetable.grid %>
    	<%= f.collection_select(:matter_id, @timetable.grid.matters.sort!{|m1,m2|m1.name <=> m2.name}, :id, :name) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "grid", :creating_resourse => "schedule"), :controller => "grids", :action => "new" %>
		<% end %>
  </div>
  
  <div class="field">
    <%= f.label :time_gap %><br />
		<% if @time_gaps.present? %>
    	<%= f.collection_select(:time_gap_id, @time_gaps, :id, :to_s) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "time_gap", :creating_resourse => "schedule"), :controller => "time_gaps", :action => "new" %>
		<% end %>
  </div>

	<div class="field">
    <%= f.label :professor_id, :professor %><br />
		<% if @professors %>
    	<%= f.collection_select(:professor_id, @professors, :id, :name, :prompt => true) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "professor", :creating_resourse => "schedule"), [:new, :professor] %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
