<%= form_for([@timetable, @timetable.schedules.build]) do |f| %>
  <div class="field">
    <%= f.label :matter %><br />
		<% if @timetable.grid %>
    	<%= f.collection_select(:matter_id, @timetable.grid.matters.sort!{|m1,m2|m1.name <=> m2.name}, :id, :name) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "grid", :creating_resourse => "schedule"), :controller => "grids", :action => "new" %>
		<% end %>
  </div>
  
  <div class="field">
		<%= f.label :time_gaps %><br />
		<ul class="time_gaps-field">
			<% if @time_gaps.present? %>
      	<%- @time_gaps.each do |tg| -%>
	        <li><%= check_box_tag "schedule[time_gap_ids][]", tg.id, false %> <%= tg.to_s %> | <%= tg.quantity_lessons %> </li>
	      <%- end -%>
			<% else %>
					<li><%= link_to t("not_present", :depending_resourse => "matter", :creating_resourse => "grid"), [:new, :matter] %> </li>
			<% end %>
    </ul>
	</div>

	<div class="field">
    <%= f.label :professor_id, :professor %><br />
		<% if @professors %>
    	<%= f.collection_select(:professor_id, @professors, :id, :name, :prompt => true) %>
		<% else %>
			<%= link_to t("not_present", :depending_resourse => "professor", :creating_resourse => "schedule"), [:new, :professor] %>
		<% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
