<%= form_for(@enrollment) do |f| %>
  <%= error_messages_for @enrollment %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :matter_id %><br />
    <%= f.number_field :matter_id %>
  </div>
  <div class="field">
    <%= f.label :timetable_id %><br />
    <%= f.number_field :timetable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
