<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @enrollment.user_id %>
</p>

<p>
  <b>Matter:</b>
  <%= @enrollment.matter_id %>
</p>

<p>
  <b>Timetable:</b>
  <%= @enrollment.timetable_id %>
</p>


<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
