<%= form_for(@course) do |f| %>
  <%= error_messages_for(@course) %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :quantityLessons %><br />
    <%= f.number_field :quantityLessons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
