<!DOCTYPE html>
<html>
<head>
  <title>pensino:CORE</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to 'Courses', courses_path %> | <%= link_to 'Matters', matters_path %> | <%= link_to 'Grids', grids_path %> | <%= link_to 'Classrooms', classrooms_path %>
<br />


<%= yield %>

</body>
</html>
